html {
    height: 100% !important;
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: 'Press Start 2P', cursive !important;
    margin: 60px 0 !important;
    background-color: transparent !important;
}

h1 {
    letter-spacing: 6px;
    color: #5572AE;
}

.row {
    margin-top: 30px;
}

.input-group {
    height: 100%;
    min-height: 48px;
}

i {
    font-size: 25px;
    width: 30px;
    text-align: center;
}

.icon {
    width: 30px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
}

#main-card {
    padding: 30px;
    background-color: #fcfcfc;
    border: 10px solid #ededed;
}

#code {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#results {
    text-align: center;
}

#again {
    width: 100%;
    height: 100%;
    max-height: 50px;
    margin-bottom: 1rem;
}

#your-guess {
    border-width: 3px;
    background-color: transparent;
}

.hide {
    display: none !important;
}

.fa-check {
    color: #9EBF5C;
}

.fa-retweet {
    color: #EFAC19;
}

.fa-times {
    color: #E84545;
}

@keyframes blink {
    from {
        color: #333333;
    }
    to {
        color: #EB3349;
    }
}

@media only screen and (max-width: 575px) {
    .mb-20 {
        margin-bottom: 20px;
    }
    #main-card {
        padding: 15px;
    }
}